h3,
h4 {
  color: #1e052a !important;
}

h4 {
  margin: 15px 0 !important;
}

p {
  color: #838589 !important;
}

.layout {
  color: #fff;
  background-size: 100%;
  background-position-x: 20%;
  background-image: url("../../assets/overlayElements.jpg");
  // background-image: url("../../assets/background.jpg");
  height: 90vh;
  @media screen and (max-width: 1224px) {
    background-position: 100%;
  }
}
.topBar {
  width: 100vw !important;
  h1 {
    margin-left: 7%;
    width: 30%;
    text-align: left;
    font-size: 3.2rem;
    letter-spacing: 10px;
    @media screen and (max-width: 800px) {
      font-size: 1.9rem;
    }
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    a {
      font-size: 1.4rem;
      color: #fff;
      margin: 0 2%;
      text-decoration: none;
      text-shadow: 1px 1px 5px #000;
      @media screen and (max-width: 1224px) {
        font-size: 0.9rem;
      }
      @media screen and (max-width: 800px) {
        font-size: 0.8rem;
      }
    }
  }
}

h2 {
  font-size: 4rem !important;
  color: #fff !important;
  @media screen and (max-width: 1224px) {
    font-size: 2.9rem !important;
  }
}
.headerButton {
  color: #fff !important;
  border-radius: 50px !important;
  padding: 2% 4% !important;
  margin-top: 3% !important;
  font-size: 1.2rem !important;
  &:first-child {
    background: #9818d6;
    margin-right: 3%;
  }
  &:last-child {
    background: none;
    border: 1px solid #fff;
  }
}

.laptopVec {
  height: 55%;
  width: auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -14%;
}

.topText {
  color: #fbbc00 !important;
  font-size: 2rem !important;
  letter-spacing: 0.5rem !important;
}
.bottomText {
  color: #1e052a !important;
  font-size: 3rem !important;
  font-weight: bold !important;
  margin: 2% 0 7% 0 !important;
}

.chooseVec {
  height: 130%;
  width: auto;
  position: absolute;
  // margin-left: auto;
  margin-right: auto;
  left: -60%;
  right: 0;
  bottom: -24%;
}

.dashSamp {
  height: 130%;
  width: auto;
  position: absolute;
  margin-left: auto;
  // margin-right: auto;
  left: 40%;
  bottom: -24%;
}

.solutions {
  h4 {
    color: #1e052a;
    font-size: 1.3rem;
  }
}

.card {
  border-radius: 20px !important;
  margin-top: 5rem !important;
  height: 85% !important;
  .cardText {
    font-size: 2rem;
  }
  .cardDescription {
    padding-top: 20px;
    h5 {
      font-size: 1.3rem;
      color: #1e052a;
    }
    ul {
      color: #838589;
      margin-right: 15%;
      text-align: center;
      list-style-type: none;
      li {
        margin: 5% 0;
      }
    }
  }
  button {
    width: 60% !important;
    padding: 7% 5% !important;
    border-radius: 50px !important;
    margin: 10px 0 !important;
  }

  a {
    text-decoration: underline;
  }
}
.marketing {
  margin-top: 5% !important;
  border-radius: 25px;
  text-shadow: 1px 1px 3px #1e052a !important;
  background-image: url("../../assets/overlayElements.jpg") !important;
  background-size: 100% !important;
  background-position-x: 20%;
  h5 {
    font-size: 1.8rem;
    height: 180px;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
  }
  button {
    color: #fff !important;
    margin: 0 2% !important;
    border-radius: 25px !important;
    padding: 3% 8% !important;
    box-shadow: 1px 1px 3px #000 !important;
  }
}
